body {
  font-family: Arial;
  background-color: #f0f8ff; /* Warna latar belakang biru langit muda */
}

/* Navbar */
.navbar {
  background-color: #87cefa; /* Warna biru langit */
  color: #fff;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  margin-right: 15px;
}

/* Photo Container */
.photo-container {
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
}

.photo-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(24vw, 1fr));
  gap: 34px 34px;
  flex-direction: column;
  width: 100%;
}

.photo-item {
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px #ddd;
  overflow: hidden;
}

.photo-item img {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

@media (max-width: 991px) {
  .photo-item {
    width: 32%;
  }

  .photo-item img {
    height: 130px;
  }
}

@media (max-width: 767px) {
  .photo-item {
    width: 49%;
  }

  .photo-item img {
    height: 180px;
  }
}

@media (max-width: 575px) {
  .photo-item {
    width: 100%;
  }

  .photo-item img {
    height: 250px;
  }
}

/* Styling lainnya */
/* Warna merah untuk button hapus */
button.delete {
  background-color: #ff6347; /* Warna merah tomat */
}

button.delete:hover {
  background-color: #ff4d4d; /* Warna merah sedikit lebih gelap saat dihover */
}

.photo-item .title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}

/* Styling lainnya */
.photo-item .description {
  color: #777;
  font-size: 14px;
}

.photo-item button {
  background-color: #87cefa; /* Warna biru langit */
  color: #fff;
  padding: 5px 10px;
  border-radius: 3px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
}

.photo-item button:hover {
  background-color: #6ca6cd; /* Warna biru langit sedikit lebih gelap saat dihover */
}

.photo-item .add_album button {
  background-color: #87cefa; /* Warna biru langit */
  color: #fff;
  padding: 5px 10px;
  border-radius: 3px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
}

.photo-item .add_album button:hover {
  background-color: #6ca6cd; /* Warna biru langit sedikit lebih gelap saat dihover */
}

.photo-item .add_album button a {
  color: #fff;
  text-decoration: none;
}

.photo-item button a {
  color: #fff;
  text-decoration: none;
}

.no-data {
  text-align: center;
  color: #777;
  font-size: 18px;
  width: 100%;
}

.error {
  color: red;
  font-size: 18px;
}

